// variables

$default-font-size: 16px !default;
$default-line-height: 1.5rem !default;
$default-margin: 1rem !default;

$small-size: 0.85 !default;
$smaller-size: 0.7 !default;

// mobile

$desktop-width: 1168px !default;
$tablet-width: 768px !default;
$phone-width: 480px !default;
