// elements

%bold {
	font-weight: 700;
}
%italic {
	font-style: italic;	
}
%underline {
	text-decoration: underline;
}
%strikethrough {
	text-decoration: line-through;
}
$small-size: 0.8;
%small {
	//font-size: 80%;
	@include rem(font-size, $small-size);
}
$smaller-size: 0.7;
%smaller {
	@include rem(font-size, $smaller-size);
}

// common classes

%none {
	display: none;
}
%hidden {
	visibility: hidden;
}
%transparent {
	opacity: 0;
	filter: alpha(opacity=0);
}
%clear {
	clear: both;
}
%nobr,
%nowrap {
	white-space: nowrap;
}
%ellipsis,
%single-line {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
}
%float-left {
	float: left;
}
%float-right {
	float: right;
}
%indent-left {
	@include rem(margin-left, 2);
}
%indent-right {
	@include rem(margin-right, 2);
}
%center {
	text-align: center;
}
%text {
	@include rem(line-height, $default-line-height);
	@include rem(margin-bottom, 1);
}