.gallery.gallery-carousel { display: grid; }

.gallery.gallery-carousel .slick-prev:before, .gallery.gallery-carousel .slick-next:before { color: #000000; opacity: 0.2; -webkit-transition: opacity 0.5s ease 0s; -ms-transition: opacity 0.5s ease 0s; -moz-transition: opacity 0.5s ease 0s; -o-transition: opacity 0.5s ease 0s; transition: opacity 0.5s ease 0s; }

.gallery.gallery-carousel .slick-prev:hover:before, .gallery.gallery-carousel .slick-next:hover:before { opacity: 1; }
