@charset "UTF-8";

.gallery {
    // aspect ratio
    @supports (aspect-ratio: 1/1) {
        &.gallery-aspectratio-1-1,
        &.gallery-aspectratio-4-3,
        &.gallery-aspectratio-16-9,
        &.gallery-aspectratio-21-9 {
            .gallery-item {
                .gallery-icon {
                    > a {
                        display: inline;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &.gallery-aspectratio-1-1 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 1/1;
                }
            }
        }
        &.gallery-aspectratio-4-3 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 4/3;
                }
            }
        }
        &.gallery-aspectratio-16-9 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 16/9;
                }
            }
        }
        &.gallery-aspectratio-21-9 {
            .gallery-item {
                .gallery-icon {
                    aspect-ratio: 21/9;
                }
            }
        }
    }
}
