@charset "UTF-8";
@import '../../css/_style-master.scss';

// mobile

.slicknav_menu {
	display:none;
	text-align: left;
}
.slicknav_brand {
	color: #fff;
	@include link {
		color: #fff;
		text-decoration: none;
	}
	@include hover {
		color: #fff;
		text-decoration: underline;
	}
}
.slicknav_nav {
	@include link {
		color: #fff;
		text-decoration: none;
	}
	@include hover {
		color: #222;
		text-decoration: none;
	}
	.slicknav_arrow {
		color: #fff;
	}
}
@include tablet {
	header #menu, header #logo {
		display:none;
	}	
	.slicknav_menu {
		display:block;
	}
}
